/* CSS file */

.headline {
  color: red;
}

.secondheadline {
  color: purple;
}

.author {
  color: grey;
  font-style: italic;
  font-weight: bold;
}

.top-row {
  background-color: lightgrey;
}

.content {
  font-style: italic;
}

.content img {
  border: 2px solid black;
}

table, th, td {
  border: 1px solid black;
}
